<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الترشيحات</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl">
    <div class="view">
        <div class="card card1">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>سناء</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>24</h3>
                    </div>
                    <div class="state">
                        <label>نشط مؤخرا</label>
                        <div class="statIcon"></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        <div class="card card2">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>محمد</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>27</h3>
                    </div>
                    <div class="state">
                        <label>نشط مؤخرا</label>
                        <div class="statIcon"></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        <div class="card card3">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>خالد</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>30</h3>
                    </div>
                    <div class="state">
                        <label>غير نشط </label>
                        <div class=""></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        <div class="card card4">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>اسماء</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>26</h3>
                    </div>
                    <div class="state">
                        <label>نشط مؤخرا</label>
                        <div class="statIcon"></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        <div class="card card5">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>صافي</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>23</h3>
                    </div>
                    <div class="state">
                        <label>نشط مؤخرا</label>
                        <div class="statIcon"></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        <div class="card card6">
            <div class="content">
                <section class="sec-content">
                    <div class="name">
                        <label>الاسم<span></span></label>
                        <h3>احلام</h3>
                    </div>
                    <div class="age">
                        <label>العمر</label>
                        <h3>24</h3>
                    </div>
                    <div class="state">
                        <label>نشط مؤخرا</label>
                        <div class="statIcon"></div>
                    </div>
                    <div class="notes">
                        <h3>لمعرفة المزيد اضغط علي الصورة</h3>
                    </div>
                </section>
                
            </div>
            
        </div>
        
    </div>
    <script src="js/main.js"></script>
</body>
</html>